absl-py
altair
annotated-types
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
contourpy
cycler
decorator
defusedxml
docopt
executing
fastjsonschema
Flask
Flask-Cors
flatbuffers
fonttools
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
importlib_metadata
importlib_resources
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml_dtypes
MouseInfo
narwhals
nbclient
nbconvert
nbformat
numpy
oauthlib
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
PyAutoGUI
pycaw
pycparser
pydantic
pydantic_core
pydeck
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
pypiwin32
PyRect
PyScreeze
pytesseract
python-dateutil
pytweening
pytz
pywin32
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scipy
screen_brightness_control
sentencepiece
six
smmap
sounddevice
soupsieve
stack-data
streamlit
tenacity
tinycss2
toml
tornado
tqdm
traitlets
tweepy
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth
webencodings
Werkzeug
WMI
yarg
zipp
